/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* DEFAULT (DARK) */
body {
  background: #0b0f1a;
  color: #fff;
}

/* LIGHT THEME */
[data-theme="light"] body {
  background: #f4f4f4;
  color: #111;
}

/* PURPLE THEME */
[data-theme="purple"] body {
  background: #1a0b2e;
  color: #facc15;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #22c55e;
  color: #000;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  opacity: 0.9;
}
